/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

body {
  text-align: left;
  color: #ac1051;
  background-color: #ebc858;
  background-image: url("https://cdn.wallpapersafari.com/9/81/nYfSMD.jpg");
  background-size:100% auto;
}

h1 {
  color:  #ac1051;
  /* text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white; */
  text-align: center;
}

h3 {
  color:  lightgoldenrodyellow;
  text-align: left;
  margin: 10px;
  background-color: #ac1051;
  border-radius: 30px;
  padding: 1em;
}

/* .new_event {
  margin-left: 30%;
  min-width: 300px;
  margin-right: 30%;
  background-color: #9400ff;
  border-radius: 20px;
  margin-bottom: .3em;
  margin-top: .3em;
} */

.navbar {
  background-color:rgb(73, 14, 14);
  padding-top: 2%;
  padding-bottom: 2%;
}

.navbar ul {
  list-style: none;
  margin: 0 2px;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar ul li {
  display:inline;
  margin-right: 5%;
  font-size:1.2em;
}

.navbar ul li a {
  text-decoration: none;
  color: #ebc858;
}

.navbar ul li a:hover {
  color: #ac1051;
}

.card {
  /* width: 300px;
  height: 500px; */
  margin: 10px;
  background-color: lightgoldenrodyellow;
  border-radius: 10px;
  /* padding: 0.5em; */
  padding: 0px 10px 10px 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.homecard {
  /* width: 300px;
  height: 500px; */
  margin: 10px;
  background-color: lightgoldenrodyellow;
  border-radius: 30px;
  padding: 1em;
}

.aboutcard {
  /* width: 300px;
  height: 500px; */
  margin: 10px;
  background-color: lightgoldenrodyellow;
  border-radius: 30px;
  padding: 1em;
}

#aboutgif {
  text-align: center;
  /* width: 300px;
  height: 200px; */
}

/* .card img {
  width: 300px;
  height: 200px;
} */

/* .event {
  background-color: red;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: .5em;
  border-radius: 5px;
  padding: 1em;
}

.show img {
  height: 500px;
  width: 100%;
  object-fit: cover;
} */


/* textarea {
  width: 80%;
  font-size: .8em;
  height: 6em;
  border-radius: 10px;
}

.errors {
  list-style: none;
  color: yellow;
  padding-left: 0;
} */

iframe {
  /* border:none; */
  border: 5px solid rgb(73, 14, 14);
  margin: 0 auto;
  width: 100%;
}