@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
}

body {
  text-align: left;
  color: #ac1051;
  background-color: #ebc858;
  background-image: url("https://cdn.wallpapersafari.com/9/81/nYfSMD.jpg");
  background-size:100% auto;
}

h1 {
  color:  #ac1051;
  text-align: center;
}

h3 {
  color:  lightgoldenrodyellow;
  text-align: left;
  margin: 10px;
  background-color: #ac1051;
  border-radius: 30px;
  padding: 1em;
}

.navbar {
  background-color:rgb(73, 14, 14);
  padding-top: 2%;
  padding-bottom: 2%;
}

.navbar ul {
  list-style: none;
  margin: 0 2px;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar ul li {
  display:inline;
  margin-right: 5%;
  font-size:1.2em;
}

.navbar ul li a {
  text-decoration: none;
  color: #ebc858;
}

.navbar ul li a:hover {
  color: #ac1051;
}

.card {
  margin: 10px;
  background-color: lightgoldenrodyellow;
  border-radius: 10px;
  padding: 0px 10px 10px 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.homecard {
  margin: 10px;
  background-color: lightgoldenrodyellow;
  border-radius: 30px;
  padding: 1em;
}

.aboutcard {
  margin: 10px;
  background-color: lightgoldenrodyellow;
  border-radius: 30px;
  padding: 1em;
}

#aboutgif {
  text-align: center;
}

.editform {
  display: none;
}

.errors {
  list-style: none;
  color: yellow;
  padding-left: 0;
} */

iframe {
  border: 5px solid rgb(73, 14, 14);
  margin: 0 auto;
  width: 100%;
}